@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  overflow-x: hidden;
}

.bold {
  font-weight: bold;
  color: #00bfff !important;
}

.navbar {
  position: fixed;
  z-index: 99;
  background-color: #333;
  width: 100vw;
  opacity: 0.8;
}

.navbar a {
  display: inline-block;
  margin-top: 5px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

#imageAndTextContainer {
  position: absolute;
  margin-left: 60%;
  margin-top: 14vh;
  width: 450px;
  height: auto;
  z-index: 6;
  color: #fff;
}

#imageAndTextContainer p {
  color: #fff !important;
  font-weight: 800;
}

#selfie {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 0.5em;
  margin-bottom: 0.2em;
  border-radius: 100px;
  shape-outside: circle();
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
}

.location-temp-container {
  position: absolute;
  z-index: 9999;
  top: 60vh;
  left: 70vw;
  width: 200px;
}

.location,
.temperature {
  height: 20vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
}

.location p {
  color: #fff !important;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  /* left: -450px;
  width: 370px;*/
  width: 26%;
  background-color: #fff;
  opacity: 0;
  color: #000;
  border-radius: 10px;
  text-align: center;
  z-index: 6;
}

.slide.current .content {
  /*opacity: 1;
  
  transform: translateX(500px);
  transition: all 0.7s ease-in-out 0.3s;*/

  transform: translateY(-60px);
  transition: all 0.7s ease-in-out 0.3s;
}

.slide.current .content {
  bottom: 50px;
  left: 50px;
  width: 30%;

  /* margin-top: 25px;
  font-size: 21px;
  text-align: center;
*/
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  position: relative;
  z-index: 6;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}
.overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100vw;
  z-index: 5;
}

.content h1,
p {
  position: relative;
  z-index: 6;
}

@media (max-width: 1050px) {
  .slide .content {
    bottom: -250px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }

  #imageAndTextContainer {
    position: absolute;
    margin-left: 10%;
    margin-top: 14vh;
    width: 400px;
    height: auto;
    z-index: 6;
    color: #fff !important;
  }

  #imageAndTextContainer p {
    color: #fff !important;
    font-weight: 800;
    font-size: 0.8em;
    text-align: justify;
  }

  #selfie {
    display: none;
  }
}

.slide:first-child {
  background: url("../chicago.jpg") no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url("../paris.jpg") no-repeat center top/cover;
  padding-top: 70px;
}
.slide:nth-child(3) {
  background: url("../cancun.jpg") no-repeat center top/cover;
}
.slide:nth-child(4) {
  background: url("../caracas.jpg") no-repeat center top/cover;
}
.slide:nth-child(5) {
  background: url("../poznan.jpg") no-repeat center top/cover;
}
.slide:nth-child(6) {
  background: url("../barcelona.jpg") no-repeat center top/cover;
}
.slide:nth-child(7) {
  background: url("../amsterdam.jpg") no-repeat center top/cover;
}
.slide:nth-child(8) {
  background: url("../montreal.jpg") no-repeat center top/cover;
}

.slide:nth-child(9) {
  background: url("../phoenix.jpg") no-repeat center top/cover;
}
.slide:nth-child(10) {
  background: url("../sanpr.jpg") no-repeat center top/cover;
}

/******Websites Page***********/

#sitesSection {
  width: 100vw;
  height: auto;
  background-color: beige;
}

.portfolioDescription p {
  position: absolute;
  margin-top: 10%;
  padding: 10px 10px;
  left: 16%;
  text-align: center;
  width: 70%;
  background-color: #333;
  color: #fff !important;
  z-index: 1;
}
.sitesText {
  width: 100%;
  padding-top: 12%;
}

.sitesText :first-child {
  margin-top: 5%;
}

.sitesText,
p a {
  text-align: center;
  padding-bottom: 30px;
}

.projectText {
  position: relative;
  padding-top: 100px;
  color: #333;
}

.projectText,
p {
  color: #333 !important;
}

.button {
  background-color: #333;
  color: beige;
  padding: 10px;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.projectImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px !important;
  width: 70%;
  border: 1px solid #333;
}

.viewWebsites {
  padding: 0;
  color: #333;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

/******Resume Page**********/

#resumeContainer {
  background-color: beige;
  color: #333;
  width: 100vw;
  overflow-x: hidden;
}

#resumeBorder {
  width: 80vw;
  margin: 0 auto;
  overflow-x: hidden;
  text-align: justify;
}

#header {
  text-align: center;
}

#header h1 {
  padding-top: 10%;
  font-weight: bold;
}

#header a {
  padding: 0;
  text-decoration: none;
}

.titles h3 {
  text-align: center;
  font-weight: bold;
}

.education {
  padding-top: 20px;
}

.uni {
  text-align: center;
}

.roosevelt {
  padding-bottom: 100px;
}

.footer-container {
  margin-top: 30px;
  margin-bottom: 30;
}

.copyRight a {
  padding-bottom: 30px;
  margin-left: 33%;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
