@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
}

.navbar {
  position: fixed;
  z-index: 6;
  background-color: #ffff;
  width: 100vw;
  opacity: 0.8;
}

a {
  display: inline-block;
  margin-top: 5px;
  color: #333;
  padding: 20px;
  text-decoration: none;
}

.viewWebsites {
  color: #fff;
}

#imageAndTextContainer {
  position: absolute;
  margin-left: 60%;
  margin-top: 14vh;
  width: 450px;
  height: auto;
  z-index: 6;
  color: beige;
}

#subText {
  text-align: justify;
}

#selfie {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 0.5em;
  margin-bottom: 0.2em;
  border-radius: 100px;
  shape-outside: circle();
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -50px;
  opacity: 0;
  width: 380px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  border-radius: 10px;
  text-align: center;
  z-index: 6;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(100px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  position: relative;
  z-index: 6;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100vw;
  z-index: 5;
}

.content h1,
p {
  position: relative;
  z-index: 6;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -250px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }

  #selfie {
    display: none;
  }

  #imageAndTextContainer {
    display: none;
  }
}

.slide:first-child {
  background: url("../img/chicago.jpg") no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url("../img/paris.jpg") no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url("../img/cancun.jpg") no-repeat center top/cover;
}
.slide:nth-child(4) {
  background: url("../img/caracas.jpg") no-repeat center top/cover;
}
.slide:nth-child(5) {
  background: url("../img/poznan.jpg") no-repeat center top/cover;
}
.slide:nth-child(6) {
  background: url("../img/barcelona.jpg") no-repeat center top/cover;
}
.slide:nth-child(7) {
  background: url("../img/amsterdam.jpg") no-repeat center top/cover;
}
.slide:nth-child(8) {
  background: url("../img/montreal.jpg") no-repeat center top/cover;
}

.slide:nth-child(9) {
  background: url("../img/phoenix.jpg") no-repeat center top/cover;
}
.slide:nth-child(10) {
  background: url("../img/sanpr.jpg") no-repeat center top/cover;
}

/******Websites Page***********/

#sitesSection {
  width: 100vw;
  height: auto;
  background-color: rgb(104, 104, 91);
}
.sitesText {
  width: 100%;
  padding-top: 12%;
}

.sitesText,
p a {
  text-align: center;
  padding-bottom: 70px;
}

.projectImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 20px;
  padding-bottom: 70px;
}

/******Resume Page**********/

#resumeContainer {
  background-color: beige;
  color: #333;
  width: 100vw;
  overflow-x: hidden;
}

#resumeBorder {
  width: 80vw;
  margin: 0 auto;
  overflow-x: hidden;
  text-align: justify;
}

#header {
  text-align: center;
}

#header h1 {
  padding-top: 10%;
  font-weight: bold;
}

#header a {
  padding: 0;
}

.titles h3 {
  text-align: center;
  font-weight: bold;
}

.education {
  padding-top: 20px;
}

.uni {
  text-align: center;
}

.roosevelt {
  padding-bottom: 100px;
}

.footer-container {
  margin-top: 30px;
  margin-bottom: 30;
}

.copyRight a {
  padding-bottom: 30px;
  margin-left: 33%;
  text-align: center;
  color: #fff;
}
